

@media (max-width: 991.98px) {
  .w-product-title,
  .witem-product-name {
    width: 30%;
  }

  .witem-product-qty-inner {
    left: 0%;
  }

  .wishlit-header th {
    padding: 10px 6px;
  }
  .witem-product-name img {
    width: 60px;
    height: 60px;
  }

  .wishlist-body td {
    padding: 10px;
  }

  .cart-btn {
    padding: 12px 16px;
    font-size: 16px;
    margin: 0px 0px;
  }

  .w-product-addtocart,
  .witem-addtocart {
    width: 20%;
    text-align: center;
  }
}

@media (max-width: 767.98px) {
  /* wish-list style */
  .witem-product-qty-inner {
    position: relative;
    left: 40%;
  }
  .cart-btn {
    margin-right: 0;
  }
  .witem-addtocart {
    text-align: right;
  }

  .wishlist-title-sm {
    font-size: 20px;
    font-weight: 500;
  }

  .w-product-addtocart,
  .witem-addtocart {
    width: 30%;
    text-align: center;
  }
}

@media (max-width: 575.98px) {
	.fivedots-btn {
		padding: 5px 30px;
		font-size: 16px;
	}

	.search-box {
		display: none !important;
	}

	.navbar-toggler:focus {
		box-shadow: none;
	}

	.menu_fix {
		border: 2px solid #101010;
		padding: 2px 6px;
		border-radius: 5px;
	}

	.menu_fix i {
		font-size: 20px;
	}

	.parent-cat-item {
		margin-bottom: 30px;
	}

	.child-cat-item {
		margin-bottom: 30px;
	}

	.banner-heading {
		font-size: 40px;
	}

	.banner-sub-heading {
		padding: 10px 0px;
	}

	.banner-text {
		font-size: 22px;
	}

	.banner-content-tow .banner-heading {
		font-size: 28px;
		margin-bottom: 15px;
	}

	.banner-content-tow {
		padding: 40px 0 50px 0;
	}

	/* Product-details-page */
	.multi-img li a img {
		width: 100px;
	}

	.multi-img li a i {
		font-size: 20px;
	}

	.title {
		margin-top: 30px;
	}

	.installment-pament {
		margin-top: 30px;
	}

	.siderbar {
		margin-bottom: 30px;
	}

	.filter-price,
	.filter-color,
	.filter-brand {
		display: none;
	}


  /* Wishlist Css */

  .witem-product-qty {
    width: 137px;
  }

  .witem-product-qty-inner {
    position: relative;
    left: 10%;
  }

  .cart-btn {
    margin-right: 0;
  }

  .witem-addtocart {
    text-align: right;
  }

  .wishlist-title-sm {
    font-size: 20px;
    font-weight: 500;
  }
}
