@media (max-width: 575px) {
	.fivedots-btn {
		padding: 5px 30px;
		font-size: 16px;
	}

	.search-box {
		display: none !important;
	}

	.navbar-toggler:focus {
		box-shadow: none;
	}

	.menu_fix {
		border: 2px solid #101010;
		padding: 2px 6px;
		border-radius: 5px;
	}

	.menu_fix i {
		font-size: 20px;
	}

	.parent-cat-item {
		margin-bottom: 30px;
	}

	.child-cat-item {
		margin-bottom: 30px;
	}

	.banner-heading {
		font-size: 40px;
	}

	.banner-sub-heading {
		padding: 10px 0px;
	}

	.banner-text {
		font-size: 22px;
	}

	.banner-content-tow .banner-heading {
		font-size: 28px;
		margin-bottom: 15px;
	}

	.banner-content-tow {
		padding: 40px 0 50px 0;
	}

	/* Product-details-page */
	.multi-img li a img {
		width: 100px;
	}

	.multi-img li a i {
		font-size: 20px;
	}

	.title {
		margin-top: 30px;
	}

	.installment-pament {
		margin-top: 30px;
	}
}
